/* Body */
.content{
	margin-top: 80px;
}
form{
	text-align: center;	
}
div.content div.buttons, 
div.content span.buttons, 
span.content div.buttons, 
span.content span.buttons {
	margin: 20px 0 0 0;
}
div.buttons input{
	width: 220px;	
}
div.buttons input[type=submit].button{
	margin: 40px auto 40px auto;	
	display: block;
}