#password_description {
margin: 20px 0 10px 0;
}
#password_strength {
margin-top: 10px;
height:10px;
display:block;
float:left;
margin-left: 0;
}

.strength0 {
width:220px;
background:#ccc;
}

.strength1 {
width:44px;
background:red;
}

.strength2 {
width:88px;
background:#ff5f5f;
}

.strength3 {
width:132px;
background:#56e500;
}

.strength4 {
background:#4dcd00;
width:176px;
}

.strength5 {
background:#399800;
width:220px;
}